In [1]:
#You are given a dataset of demographic data that was extracted from the 1994 Census database.

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('adult.data.csv')
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [5]:
#How many people of each race are represented in this dataset?
#This should be a Pandas series with race names as the index labels. (race column)

In [10]:
race_count = df.race.value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [11]:
#What is the average age of men?

In [15]:
average_age_men = round(df[df.sex =="Male"]['age'].mean(),1)
print(average_age_men)

39.4

In [ ]:
#What is the percentage of people who have a Bachelor's degree?

In [20]:
Bachelors_degree_Percentage = round(df[df['education'] =="Bachelors"].shape[0] / df.shape[0]*100 ,1)
print(Bachelors_degree_Percentage)

16.4

In [ ]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [ ]:
Total_people_advanced_education = df['education'].isin(['Bachelors','Masters','Doctorate'])
salary_advanced_education = df['salary'] == '>=50K'
print(Total_people_advanced_education)
print(salary_advanced_education)

In [ ]:
#What is the minimum number of hours a person works per week?

In [ ]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
#What country has the highest percentage of people that earn >50K and what is that percentage?

In [ ]:
#Identify the most popular occupation for those who earn >50K in India.